<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<footer class="footer sticky-footer bg-light mt-5 ">
<div class="container">
    <div class="row pt-4 ">
        <div class="col-12 col-md-3  kenburns-top-left">
            <a class=""><span class="display-5" style="color : rgb(243, 57, 57)"> MyCars</span> </a>
            <br> 
            <p class="">
                Lorem ipsum dolor sitamet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolnisiut 
                 anim id est laborum. <br> <br>
            </p>
        </div>
        <div class="col-3 col-md-2 offset-1">
            <h4 class="fw-bold ">Lien</h4> 
            <p>
               <a href="" class=" nav-link"><span class=""> Accueil</span></a>  
            </p>
            <p>
                <a href="#" class=" nav-link "><span class=""> A propos</span></a>  
             </p>
             <p>
                <a href="" class=" nav-link"><span class=""> Boutique</span></a>  
             </p>
        </div>
        <div class="col-9 col-md-3">
            <h4 class="fw-bold">Contact</h4>
            <p>
                +237 697-708-624 Cameroun Yaoundé, Université de Yaoundé I, 
                faculté des sciences, département d'informatique, Master I
            </p>
        </div>
        <div class="col-12 col-md-3 ">
            <h4 class="fw-bold">Inscrivez vous</h4>
            <form  class="" >
                        <input type="text" formControlName="email" id="email" placeholder="Votre email"  > <br> <br>
                        <button type="submit"  class=" d-flex justify-content-end btn inscription text-center" style="background-color: rgb(243, 57, 57); border-radius: 15%;">S'inscrire</button>
             </form>
        </div>
    </div>
   
</div>
</footer>
